<div class="container ingredient-index-form">
  <div class="pages-headers">
    <h1>Your <%= @winetype.name %> should be:</h1>
  </div>


<%= form_tag wines_path(winetype: params[:winetype]), method: :get do %>
    <div class="form-column">
      <div class="row">
        <% @ingredients.each do |ingredient| %>
          <label class="col-lg-3 each-ingredient">
            <div>
             <p><%= ingredient.name %></p>
            </div>
            <%= check_box_tag('ingredients[]', ingredient.id, checked = false, hidden: true, class:"check-me") %>
          </label>
        <% end %>
      </div>

      <div class="row">
        <%= hidden_field_tag("winetype", params[:winetype]) %>
      </div>

      <div class="row">
        <div>
          <%= submit_tag(value = "Find Wines", class:"uni-button") %>
        </div>
      </div>
    </div>
<% end %>

</div>

