<div class="banner">
  <h1>It's your wine now.</h1>
</div>

<div class="container">
  <div class="mission">
    <p>On a mission to make wine more accessible to the youth.</p>
  </div>
</div>



<div class="container">
    <div class="taste-carousel">
      <h2>MyWine</h2>
      <%= image_tag('latestcarousel.png', id:"taste-carousel-img") %>
      <%= image_tag('y-wine.png', id:"wine-bottle-photo") %>
    </div>

</div>

<div class="container">
  <div class="mission">
    <p>256 options to mix your wine.</p>
  </div>
</div>





<div class="container" >
  <div class="row wines-index-landing-page">
    <h2>Wines</h2>
    <% @home_page_wines.each do |wine| %>
    <div class="col-sm-12 col-md-4 col-lg-4 each-wine-home">
      <%= link_to wine_path(wine.id) do  %>
      <div class="wine-cards">
          <div class="wine-bottle-img-container">
            <%= image_tag('y-wine.png', class:"wine-bottle") %>
          </div>
          <div class="wine-name-container">
            <p><%= wine.name %></p>
          </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>

