
<div class="container" >
<div class="pages-headers">
  <h1>Wines</h1>
</div>



<%= link_to winetypes_path do %>
  <i class="fas fa-chevron-left go-back"></i>
<% end %>

  <div class="selectedingredientsflex">
  <% @selectedingredients.each do |ingredient| %>
    <div class="ingredient">
      <p><%= ingredient.name %></p>
    </div>
  <% end %>
  </div>

  <div style="margin: 50px 0px" class="row">
    <% @selcetedwines.each do |wine| %>
    <div class="col-sm-12 col-md-4 col-lg-4">
      <%= link_to wine_path(wine.id) do  %>
      <div class="wine-cards">
          <div class="wine-bottle-img-container">
            <%= image_tag('y-wine.png', class:"wine-bottle") %>
          </div>
          <div class="wine-name-container">
            <p><%= wine.name %></p>
          </div>
      </div>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
