<div class="container">

  <div class="pages-headers">
    <h1><%= @wine.name %> (<%= @wine.winetype.name %>)</h1>
  </div>

  <%= link_to :back do %>
  <i class="fas fa-chevron-left go-back"></i>
  <% end %>

  <div class="wine-show-flex">
    <div class="wine-show-img-div">
      <%= image_tag('y-wine.png', class:"wine-bottle") %>
    </div>
  </div>

  <div>
    <%= render "doses/form" %>
  </div>


  <div style="margin-top: 95px !important;" class="pages-headers">
    <h1>Your chosen wine tastes:</h1>
  </div>

    <div id="ingredients-index-wine-show" class="wine-show-flex">
      <div style="width: 100vw" class="wine-show-ingredients-div">
        <div style="justify-content: space-around; flex-wrap: wrap; width: 75vw;" class="row">
          <% @wine.ingredients.each do  |i|%>
          <div class="wine-taste-index-each">
            <p class="i-name"><%= i.name %></p>
            <%= link_to wine_dose_path(i), method: :delete, class:"delete-link" do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
          <% end %>
        </div>
      </div>
    </div>

    <div style="display: flex;align-items: center;justify-content: space-around;" class="container">
      <div class="order-summary">
        <h3>Your order:</h3>
        <h5>Name: <%= @wine.name %></h5>
        <h5>Type: <%= @wine.winetype.name %></h5>
        <h5>Ingredients: <% @wine.ingredients.each do |i|%> <%= i.name %> <% end %></h5>
        <h5>Amount: <%= humanized_money_with_symbol(@wine.price) %></h5>
      </div>
    </div>



    <%= form_tag orders_path do %>
      <%= hidden_field_tag 'wine_id', @wine.id %>
      <%= submit_tag 'Purchase', class: 'uni-button' %>
    <% end %>
</div>






